#marcos img{
    width: 50px;
    height: 50px;
}

#imagenes img{
    width: 150px;
    height: 150px;
}

.form{
   
    border: outset 10px #505c5f;
}
.header{
    width: 100%;
    height: 100px;
    
    top: 0;left: 0;
    border-bottom:  solid rgb(231, 226, 226);
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

#resultado{
    position: absolute;
    display: block;
    max-width: 400px;
    max-height: 800px;
    max-block-size: 400px;
    width: 100%;
    height: 100%;
    top: 45%;
    left: 17%;
}

#rNombre{
    position: absolute;
    max-width: 400px;
    max-height: 800px;
    max-block-size: 400px;
    top: 40%;
    left: 17.5%;
}
#rTitulo{
    position: absolute;
    max-width: 300px;
    max-height: 400px;
    max-block-size: 400px;
    top: 26.5%;
    left: 17.5%;
}
#rSubtitulo{
    position: absolute;
    max-width: 300px;
    max-height: 400px;
    max-block-size: 200px;
    top: 100%;
    left: 13%;
}
#rMensaje{
    position: absolute;
    max-width: 300px;
    max-height: 400px;
    max-block-size: 80px;
    top: 105%;
    left: 13%;
    text-align: center;
}





@media (max-width: 900px)
{
    #resultado{
        max-width: 100px;
        max-height: 150px;
        top: 15%;
        left: 13%;
    }
}

@media (max-width: 800px)
{
    #rNombre{
        max-width: 250px;
        max-height: 300px;
        max-block-size: 200px;
        top: 6.5%;
        left: 5%;
    }
    #rTitulo{
        position: absolute;
        max-width: 600px;
        max-height: 800px;
        max-block-size: 800px;
        top: 11.5%;
        left: 13%;
    }
    #rSubtitulo{
        position: absolute;
        max-width: 50;
        max-height: 100px;
        max-block-size: 50px;
        top: 29%;
        left: 17%;
    }
    #rMensaje{
        position: absolute;
        max-width: 300px;
        max-height: 400px;
        max-block-size: 600px;
        top: 35%;
        left: 7%;
        text-align: center;
    }
}

@media (max-width: 600px)
{
    #resultado{
        max-width: 175px;
        max-height: 225px;
        left: 28%;
    }

}

@media (max-width: 550px)
{
    #resultado{
        max-width: 250px;
        max-height: 300px;
        top: 20%;
        left: 27%;

    }
    #rNombre{
        max-width: 250px;
        max-height: 300px;
        max-block-size: 200px;
        top: 11%;
        left: 11%;
    }
    #rTitulo{
        position: absolute;
        max-width: 600px;
        max-height: 800px;
        max-block-size: 800px;
        top: 14%;
        left: 27%;
    }
    #rSubtitulo{
        position: absolute;
        max-width: 300px;
        max-height: 400px;
        max-block-size: 200px;
        top: 63%;
        left: 45%;
    }
    #rMensaje{
        position: absolute;
        max-width: 300px;
        max-height: 400px;
        max-block-size: 800px;
        top: 70%;
        left: 20%;
        text-align: center;
    }
}

@media (max-width: 420px)
{
    #resultado{
        max-width: 250px;
        max-height: 300px;
        top: 20%;
        left: 22%;

    }
    #rNombre{
        max-width: 250px;
        max-height: 300px;
        max-block-size: 200px;
        top: 10%;
        left: 11%;
    }
    #rTitulo{
        position: absolute;
        max-width: 600px;
        max-height: 800px;
        max-block-size: 800px;
        top: 14%;
        left: 22%;
    }
    #rSubtitulo{
        position: absolute;
        max-width: 300px;
        max-height: 400px;
        max-block-size: 200px;
        top: 60%;
        left: 45%;
    }
    #rMensaje{
        position: absolute;
        max-width: 300px;
        max-height: 400px;
        max-block-size: 800px;
        top: 65%;
        left: 20%;
        text-align: center;
    }
}


@media (max-width: 380px)
{
    #resultado{
        max-width: 150px;
        max-height: 200px;
        left: 30%;
    }
    #rNombre{
        max-width: 150px;
        max-height: 200px;
        max-block-size: 200px;
        top: 10%;
        left: 13%;
    }
    #rTitulo{
        position: absolute;
        max-width: 600px;
        max-height: 800px;
        max-block-size: 800px;
        top: 14%;
        left: 30%;
    }
    #rSubtitulo{
        position: absolute;
        max-width: 300px;
        max-height: 400px;
        max-block-size: 200px;
        top: 50%;
        left: 45%;
    }
    #rMensaje{
        position: absolute;
        max-width: 300px;
        max-height: 400px;
        max-block-size: 800px;
        top: 54%;
        left: 30%;
        text-align: center;
    }
    @media (max-width: 360px)
    {
        #resultado{
            max-width: 150px;
            max-height: 200px;
            left: 30%;
        }
        #rNombre{
            max-width: 150px;
            max-height: 200px;
            max-block-size: 200px;
            top: 10%;
            left: 13%;
        }
        #rTitulo{
            position: absolute;
            max-width: 600px;
            max-height: 800px;
            max-block-size: 800px;
            top: 14%;
            left: 25%;
        }
        #rSubtitulo{
            position: absolute;
            max-width: 300px;
            max-height: 400px;
            max-block-size: 200px;
            top: 50%;
            left: 15%;
        }
        #rMensaje{
            position: absolute;
            max-width: 300px;
            max-height: 400px;
            max-block-size: 800px;
            top: 58%;
            left: 11%;
            text-align: center;
        }
    }

}

@media (max-width: 300px)
{
    #resultado{
        max-width: 100px;
        max-height: 150px;
        top: 13%;
    }
}



header .js{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
body{
    background-color: #152D35;
    color: #fff;
}


